*{ /*reset default*/
    margin: 0px;
    padding: 0px;
}
body{
    color: rgb(38, 136, 202); 
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

/*all the settings in navigator*/
div#nav{
    text-align: right; /*keep the nav to the right*/
    background-color: #efefef;
}
a{
    color: rgb(125, 180, 175);
}
a:hover{
    color: rgb(60, 115, 110);
}
#nav .currentPage a{
    color:	rgb(60, 115, 110);
}
li{
    display: inline;
    padding: 10px;
}
.dropbtn{
    background-color: rgb(60, 115, 110);
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{ /*hidden by default*/
    display: none;
    position: absolute;
    background-color: rgb(125, 180, 175);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0);
    z-index: 1;
}
.dropdown-content a{ /*links inside the dropdown*/
    color:  rgb(60, 115, 110);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: rgb(125, 180, 175);
}

header{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
/*to set columns*/
.columnL, .columnR{ /*for two sides*/
    float: left;
    width: 25%;
    padding: 10px;
    position: relative;
    font-size: smaller;
}
.column{ /*for content in the middle*/
    float: left;
    width: 45%;
    padding: 10px;
    position: relative;
}

footer{
    clear: both;
    text-align: center;
    margin: 0px;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}

img#profile{
    height: 100%;
    width: 85%;
    position: relative;
}

/*put some quotes here*/
blockquote{
    width: 275px;
    font-style: italic;
    margin-top: 10px;
    padding: 10px;
    border-top: 1.5px solid rgb(130, 196, 190);
    border-bottom: 1.5px solid rgb(130, 196, 190);
}

/*style for homework 2*/
#hw2{ /*set this nav in the middle and not full screen*/
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
}
#hw2 p{
    text-align: center;
    margin: 5px;
}

/*style for homework 3*/
#hw3 h2{
    text-align: center;
    margin: 5px;
    padding: 10px;
}
#hw3 table{
    border-color: cadetblue;
    border-style: solid;
    display: inline-block;
}
#hw3 tr, td{
    text-align: center;
    padding: 2px;
}

/*style for contact*/
div#contact{
    text-align: center; /*keep things in the middle*/
    align-items: center;
}
#contact a{
    text-decoration: none;
    color: rgb(125, 180, 175);
}
#contact a:hover{
    color: rgb(60, 115, 110);
}
img#snsimg{
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

@media screen and (max-width:600px){
    .columnL, .column, .columnR{
        width: 100%; /*arrange columns vertically*/
    }
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
