*{
    /*reset default style*/
    margin: 0;
    padding: 0;
}
body{
    color: rgb(38, 136, 202); 
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
h1{
    text-align: left;
    padding: 15px;
}
table{
    border-color: cadetblue;
    border-style: solid;
    display: inline-block;
}
tr, td{
    text-align: center;
    padding: 2px;
}
